.footer__column-link {
    color: #f2f2f2;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    align-items:center;
    opacity: 1;
    transition: 1s;
}

.footer__column-link:hover {
    opacity:0.5;
}